# Application
APP_PORT=3000
NODE_ENV=development
APP_PUBLIC_BASE_URL=http://localhost:3001

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=secret
DB_NAME=sepay_integration

# SePay Payment Gateway
SEPAY_ENV=sandbox
SEPAY_MERCHANT_ID=your_merchant_id_here
SEPAY_SECRET_KEY=your_secret_key_here
SEPAY_WEBHOOK_API_KEY=your_webhook_api_key_here
